<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About page</title>
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>About Content</p>
    </body>
    <footer>
        {{year}}
    </footer>
</html>